@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .menu-link {
    @apply relative transition-all duration-500 ease-in-out;
  }

  .menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #aaa;
    transition: all 0.5s;
  }

  .menu-link:hover::after {
    width: 100%;
  }

  .menu-link:hover {
    color: #555;
  }

  /* استایل حالت اکتیو */
  .menu-link-active {
    @apply bg-gray-300 text-black;
  }

  .menu-link-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px; /* خط ضخیم‌تر */
    background-color: #555; /* رنگ متفاوت */
  }
}
